{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
 
{% block content %}
    <div class="panel right">
        <h1>Create a Dwitter</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in dwitter_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Twitte">
            </form>
        </p>
    </div>
    <div class="panel left">
      <h1>Buddies's Dwitters</h1>
      <form method="get" action="/" class="navbar-form pull-right">
        {% if query_string %}
        <input type="text" id="searchBox" class="input-medium search-query" value={{query_string}} name="q" placeholder="Search">
        {% else %}
        <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
       {% endif%}
        <input type="submit" class="btn" value="Search" >
      </form>
        {% for dwitter in dwitters %}
        <div class="dwitterWrapper">
            <a href="/users/{{ dwitter.user.username }}">
                <img class="avatar" src="{{ dwitter.user.profile.gravatar_url }}">
                <span class="name">{{ dwitter.user.first_name }}</span>
            </a>
            @{{ dwitter.user.username }}
            <b>
              {{ dwitter.creation_date|timesince }}
              </b>
            <p>
                {{ dwitter.content }}
            </p>
            {% if dwitter.comments_set.all.count %}
            <h1><b>Comments</b></h1>
            </br>
            {% endif%}
            <p>
              {% for dwitter in dwitter.comments_set.all %}
              {{ dwitter.comment_by.first_name }}@ - {{ dwitter.comment }}  
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              {{ dwitter.creation_date|timesince }}
              <br>
              {% endfor %}
              </p>
            <p>
              <form action="/comment" method="post">
                  {% for field in dwitter_form %}{% csrf_token %}
                  {{ field }}
                  {% endfor %}
                  <input type="hidden" value="{{ next_url }}" name="next_url">
                  <input type="hidden" value="{{ dwitter.id }}" name="dwitter_id">
                  <input type="hidden" value="{{ query_string }}" name="query">
                  <input type="submit" value="Comment">
                </form>
            </p>
                <form action="/like" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{ dwitter.user.id }}" name="user_id">
                  <input type="hidden" value="{{ dwitter.id }}" name="dwitter_id">
                  <input type="hidden" value="{{ query_string }}" name="query">
                  <p><span>{{ dwitter.comments_set.all.count}} Comments</span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <span>{{ dwitter.likes_set.all.count}} Liked</span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input type="submit" value="Like"></p>
                </form>
              </span>
              </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
