{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="userpanel right">
      <h1><b>Followers</b></h1>
      {% for user in user.profile.followed_by.all %}
      {{user.first.username}}
        <div class="dwitterWrapper">
            <a href="/users/{{ user.user.username }}">
                <img class="avatar" src="{{ user.user.profile.gravatar_url }}">
                <span class="name">{{ user.user.first_name }}</span>
            </a>
            @{{ user.user.username }}
            <p>
                {{ user.user.dwitter_set.count}} Dwittes
                <span class="spacing">{{ user.user.profile.followed_by.count }} Followers</span>
                <span class="spacing">{{ user.user.profile.follows.count }} Following</span>
            </p>
            <p>{{ Dwite.content }}</p>
        </div>
        {% endfor %}
      <h1><b>Following</b></h1>
        {% for user in user.profile.follows.all %}
      {{user.first.username}}
        <div class="dwitterWrapper">
            <a href="/users/{{ user.user.username }}">
                <img class="avatar" src="{{ user.user.profile.gravatar_url }}">
                <span class="name">{{ user.user.first_name }}</span>
            </a>
            @{{ user.user.username }}
            <p>
                {{ user.user.dwitter_set.count}} Dwittes
                <span class="spacing">{{ user.user.profile.followed_by.count }} Followers</span>
                <span class="spacing">{{ user.user.profile.follows.count }} Following</span>
            </p>
            <p>{{ Dwite.content }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="panel left">
        <h1>{{ user.first_name }}'s Profile</h1>
        <div class="dwitterWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ user.first_name }}</span>
            </a>
                @{{ user.username }}
            <p>
                {{ dwiters.count }} Dwittes
                <span class="spacing">{{ user.profile.follows.all.count }} Following</span>
                <span class="spacing">{{ user.profile.followed_by.all.count }} Followers</span>
            </p>
            {% if follow %}
            <form action="/follow" method="post">
                {% csrf_token %}
                <input type="hidden" name="follow" value="{{ user.id }}">
                <input type="submit" value="Follow">
            </form>
            {% endif %}
        </div>
    </div>

    <div class="panel left">
        <h1>{{ user.first_name }}'s Dwitte's</h1>
        {% for dwite in dwiters %}
        <div class="dwitterWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ dwite.user.first_name }}</span>
            </a>
            @{{ dwite.user.username }}
            <span class="time">{{ dwite.creation_date|timesince }}</span>
            <p>{{ dwite.content }}</p>
            <p><span>{{ dwite.dwittercomment_set.all.count}} Comments</span>
              &nbsp; &nbsp;&nbsp; &nbsp;
              <span>{{ dwite.dwitterlike_set.all.count}} Liked</span>
              
        </div>
        {% endfor %}
    </div>
{% endblock %}
